<form action="/" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name"/></br>
  <label for="breed">Breed: </label>
  <input type="text" name="breed"/></br>
  <label for="age">Age: </label>
  <input type="text" name="age"/></br>
  <input type="submit" value="submit" />
</form>
